* {
    outline: red solid 1px;
    padding: 0;
    margin: 0;

}

body {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.container {
    width: 1440px;
    height: 4221px;
}

/*  Menu-header */

.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.header {
    background-color: #f1f1f1;
    padding: 36px 34px;
    text-align: center;
    background-color: #D9D9D9;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__menu-container {
    display: flex;
}

.header__menu-item {
    width: 66px;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 49px;
}

.item {
    border-radius: 5px;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu__logo {
    background-color: #368C2D;
    width: 195px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 150px;
    border: 0;
    border-radius: 0;
}

.header__logo__img {
    display: flex;
    height: 44px;
    flex-direction: column;
    flex-shrink: 0;
}

.header__menu__list-container {
    display: flex;
    margin: 0;
}

.header__menu__list__item {
    margin-left: 34px;
    list-style: none;
    width: 100px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ult__element {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ult__element__txt {
    display: flex;
    width: 336px;
    height: 18px;
    flex-direction: column;
    flex-shrink: 0;
}


.header__menu__list__item__link {
    color: var(--color-verde, #368C2D);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

}




/* MENU BANER */

.secttion__baner {
    width: 100%;
    height: 607px;
    background: #ADABAB;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}


/* Carrucel */

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel {
    width: 100%;
    height: 100%;
}

.img-custom-width {
    width: 100%;
    height: 100%;
}

.img1-custom-width {
    width: 100%;
    height: 100%;
}

.img2-custom-width {
    width: 100%;
    height: 100%;
}





/* baner2 */

.secttion__baner2 {
    margin-top: 105px;
    width: 100%;
    height: 1041px;
    background: var(--naranja, #B79A1D);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}

.detalles {
    margin: 0;
}

.baner__content__img__principal {
    width: 580px;
    height: 935px;
    flex-shrink: 0;
    margin-left: 40px;
    border-radius: 25px;
    border: 4px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.baner__content__img {
    width: 276px;
    height: 250px;
    flex-shrink: 0;
    margin: 30px;
    border-radius: 25px;
    border: 4px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.detalles-container .letra__content__title {
    color: var(--white, #FFF);
    text-align: right;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Courgette;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.letra__content__text {
    color: #FFF;
    text-align: right;
    font-family: Cabinet Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 7px 0;
    width: 100%;
}

.detalles-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.detalles-container a {
    color: #FFF;
    text-align: right;
    font-family: Cabinet Grotesk;
    width: 100%;
}

/* cards */

.card-wrapper {
    width: 100%;
    height: 50%;
}

.slide-container {
    margin-top: 60px;
    width: 100%;
    height: 415px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;
}

.slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cardTitulo {
    width: 874px;
    height: 93px;
    flex-shrink: 0;
    color: var(--naranja, #B79A1D);
    text-align: center;
    font-family: Courgette;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 52px auto;
}

.cards {
    width: 400px;
    height: 500px;
    display: flex;

}

.swiper-slide {
    height: 0;
}

.section__content__item {
    width: 80%;
    height: 68%;
    border-radius: 25px;
    background-color: #368C2D;
    margin: 25% 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 26px;
}

.color-naranja {
    background-color: #B79A1D;
}

.section__content__item__img {
    position: absolute;
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #ADABAB;
}

.section__content__item__title {
    width: 130px;
    height: 85px;
    border-radius: 5px;
    margin-top: 25px;
    color: var(--gris-clarity, #ECECEC);
    text-align: right;
    font-family: Courgette;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.section__content__item__text {
    border-radius: 5px;
    color: var(--white, #FFF);
    text-align: right;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.precio,
.verMas {
    flex-shrink: 0;
    border-radius: 5px;
    color: black;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    color: var(--white, #FFF);
}

.verMas {
    text-decoration: none;
    cursor: pointer;
    color: var(--naranja, #B79A1D);
    margin-left: 22px;
    border-radius: 5px;
    background: var(--gris-clarity, #ECECEC);
    width: 90px;
}

.verMas:hover {
    color: white;
    background: var(--naranja, #B79A1D);
}

.section__content__item__abajo {
    display: flex;
    margin: 15% 0;
}

/* Footer   */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 80px;
    width: 1345px;
    height: 900px;
    background-color: #368C2D;
    border-radius: 15px;
}

.footer__title {
    width: 567px;
    height: 93px;
    flex-shrink: 0;
    color: var(--white, #FFF);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: Courgette, cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 29px 81px;
}

.footer__buscador {
    display: flex;
    justify-content: center;

}

form.buscador__container {
    border-radius: 15px;
    background-color: #fff;
    width: 1227px;
    height: 80px;
}

input.buscar {
    width: 1100px;
    height: 40px;
    border: 0px;
    padding: 7px;
    position: relative;
    color: var(--naranja, #B79A1D);
    font-family: Cabinet Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    bottom: 23px;
}

input.buscar:focus {
    outline: 0;
}


input.image_buscar {
    border: 0px;
    width: 45px;
    height: 45px;
    position: relative;
    top: 4px;
    margin: 14px;
}


.footer__content {
    display: flex;
    width: 1274;
    justify-content: start;
    padding: 0 58px;
}

.footer__content__item {
    margin: 25px 150px 25px 0;
}

.footer__content__item.p.h1 {
    border-radius: 5px;
    background: var(--white, #FFF);
}

.footer__content__item__title {
    width: 240px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white, #FFF);
    color: var(--naranja, #B79A1D);
    font-family: Courgette;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.txt1 {
    width: 164.797px;
    height: 36.937px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white, #FFF);
    margin: 41px 0;
    color: var(--naranja, #B79A1D);
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p.txt2 {
    width: 120.756px;
    height: 36.937px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white, #FFF);
    margin: 41px 0;
    color: var(--naranja, #B79A1D);
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p.txt3 {
    width: 201.734px;
    height: 36.937px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white, #FFF);
    margin: 41px 0;
    color: var(--naranja, #B79A1D);
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p.txt4 {
    width: 120.756px;
    height: 36.937px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white, #FFF);
    color: var(--naranja, #B79A1D);
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__cuadro__texto {
    width: 1227px;
    height: 205px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--white, #FFF);
    color: var(--azu, #101E25);
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__cuadro {
    display: flex;
    justify-content: center;
}

.author {
    text-align: center;
}

.footer__texto {
    margin: 16px 41px;
    color: var(--azu, #101E25);
    font-family: Cabinet Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}